body {
	background-color: #eee;
}

.App {
	padding: 1em;
}

.app_header {
    max-width: 70%;
    margin: auto;
}

.filters {
    max-width: 200px;
    min-width: 200px;
	height: fit-content;
	background: #fff;
	margin: 10px 10px 0 0;
	border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.filters h2 {
	margin: 5px;
}

.filter_head {
	border-bottom: solid 1px #aaa;
	text-align: center;
	margin: 0 12% 1em 12%;
	font-size: 15px;
	font-weight: 400;
}

.btn {
	margin: 6px;
	background-color: #c5e09b;
	outline: none;
	border: none;
	padding: 0.5em;
	font-size: 13px;
	font-weight: 500;
	border-radius: 3px;
	flex: 0 0 40%;
}

.btn:hover {
    background-color: #aad367;
}

.btn.active {
	background: #7cba01;
}

.filter_block {
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 15px 20px 15px;
}

.main_container {
    justify-content: center;
    padding: 10px;
}

.cards_wrapper {
	flex-wrap: wrap;
	min-height: 80vh;
}

.card {
	width: 200px;
	background: #fff;
	margin: 10px;
	padding: 15px;
	border-radius: 5px;
    color: #465197;
    max-height: 380px;
}

.card strong {
	color: #000;
}

.card img {
	width: 100%;
	background-color: #eee;
}

.card_detail {
    padding-left: 0;
    font-size: 14px;
}

.card_detail > li {
    list-style: none;
    align-items: center;
    margin-bottom: 5px;
}

.card_head {
	margin: 1em 0;
	font-size: 15px;
}

.card_ids {
	list-style: disc;
}

.rowFlex {
	display: flex;
}

.colFlex {
	display: flex;
	flex-direction: column;
}

.no_data {
	font-size: 20px;
	font-weight: bold;
	color: #aaa;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.dev_name {
	text-align: center;
	width: 100%;
}

@media only screen and (max-width: 699px) {
	.main_container {
		flex-direction: column;
		align-items: center;
    }
    .cards_wrapper {
        justify-content: center;
        width: 250px;
    }
    .card {
        width:200px
    }
}

@media only screen and (min-width: 700px) {
	.main_container {
		flex-direction: row;
    }
    .cards_wrapper {
        width: 500px;
    }
    .card {
        width:40%;
    }
}

@media only screen and (min-width: 1024px){
    .cards_wrapper {
        width: 810px;
    }
    .card {
        width:18%
    }
}
